<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-lazy-init="false">


	<!-- 定时计算推广客的收益 
	<bean id="initClearingTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean
				class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject">
					<ref bean="AutomaticClearingService" />
				</property>
				<property name="targetMethod">
					<value>init</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>1 0 0 * * ?</value>
		</property>
	</bean>
	 -->
	
	<!-- 用户订单统计
 	<bean id="initStateUserTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean
				class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject">
					<ref bean="LvStateUserQuartzService" />
				</property>
				<property name="targetMethod">
					<value>init</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 0 * * ?</value>
		</property>
	</bean>
	-->
	<!-- 订单状态自动更新
	<bean id="initOrderStatusTaskTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean
				class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject">
					<ref bean="OrderQuartzService" />
				</property>
				<property name="targetMethod">
					<value>init</value>
				</property>
			</bean>
		</property>
		<property name="cronExpression">
			<value>0 0 1 * * ?</value>
		</property>
	</bean>
    -->
	
	<!-- 加入任务
	<bean id="schedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="initClearingTaskTrigger" />
				<ref local="initStateUserTaskTrigger"/>
				<ref local="initOrderStatusTaskTrigger"/>
			</list>
		</property>
	</bean>
	 -->
	



</beans> 