<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="serviceProxyLocal" class="com.gv.core.proxy.impl.ServiceProxyLocalImpl"></bean>

	<bean id="serviceProxyFromESB" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
       <property name="serviceUrl" value="" />
       <property name="serviceInterface" value="com.gv.core.proxy.ServiceProxy"/>
    </bean>	

</beans>